<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatupgmail">

    <application
        android:allowBackup="true"
        android:icon="@drawable/chatup"
        android:roundIcon="@drawable/chatup"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatUpGmail">
        <activity android:name=".VideoCall"></activity>
        <activity android:name=".Chatting" />
        <activity android:name=".ShowProfile" />
        <activity android:name=".SetProfile" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".Call" />
        <activity android:name=".LauncherScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>